<!-- Search bar -->
<div class="flex justify-center my-5">
  <form class="w-1/2" method="GET" action="{% url 'index' %}">
    <div class="flex items-center bg-white rounded-full shadow-xl">
      <input
        class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none"
        id="search"
        name="q"
        type="text"
        placeholder="Search"
      />
      <div class="p-2">
        <button
          type="submit"
          class="bg-blue-500 text-white rounded-full hover:bg-blue-400 focus:outline-none w-10 h-10 flex items-center justify-center"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>
</div>
